on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - .github/FUNDING.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/workflow_build.yaml

  release:
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v3
        id: download
        with:
          path: dist
      - uses: ncipollo/release-action@v1
        with:
          commit: ${{ github.sha }}
          tag: ${{ needs.build.outputs.node-version }}
          artifacts: ${{ steps.download.outputs.download-path }}/**
          skipIfReleaseExists: true